/* Toolbox and Stats Button */

	 #toolbox {background: #f4f4f4 url(./images/bg_toolbox_tab.png) repeat-x bottom; }
	 #toolbox a, ul.summarystats p.statview a {color: #777; text-shadow: 1px 1px 1px #fff;}
	 
	 ul#sliderContent li a {color: #fff;  text-shadow: 1px 1px 1px orange;background: url(./images/toolbox_alt_row.png) repeat-x top}
		ul#sliderContent li.alt a {color: #fff; text-shadow: 1px 1px 1px orange; background: url(./images/toolbox_alt_row.png) repeat-x top}
		ul#sliderContent li a:hover, ul#sliderContent li.alt a:hover {color:#222; text-shadow: 1px 1px 1px #fff; background: url(./images/bg_toolbox_tab.png) repeat-x top}
		
		
		
	/* Stats */	
	ul.summarystats p.statview a {background:url(./images/bg_btns.png) repeat-x top}
	ul.summarystats p.statview a:hover {background:url(./images/bg_btns.png) 0 -30px; color: #fff; text-shadow: none}

/* Navigation Styles */

	ul#nav li a.heading, a.collapsed, a.expanded, ul.navigation li.selected{background: #a7a7a7 url(./images/bg_navigation_links.png) no-repeat top;}
		ul#nav li a.collapsed:hover {background: #a7a7a7 url(./images/bg_navigation_links.png) 0 -40px;}
		
	ul#nav li a.expanded {background: #a7a7a7 url(./images/bg_navigation_links.png) 0 -80px;}
		ul#nav li a.expanded:hover {background: #a7a7a7 url(./images/bg_navigation_links.png) 0 -120px;}

/* Button Styling */
	
	#btn, #btnalt {background: url(./images/bg_btns.png) repeat-x top!important; color: #0F525B!important; text-shadow: 1px 1px 1px #68C5D1!important; font-size: 13px!important; padding: 10px 15px!important; boirder-radius: 7px!important; -moz-border-radius: 7px!important; font-weight: 700!important; border: none!important}
		#btn:hover {background: url(./images/bg_btns.png) 0 -30px!important!important; cursor: pointer!important; color: #fff!important; text-shadow: none!important}
		
	#btnalt {background: url(./images/bg_btns_alt.png) repeat-x top !important; color: #666!important; text-shadow: 1px 1px 1px #fff!important}
		#btnalt:hover {background: url(./images/bg_btns_alt.png) 0 -30px !important; cursor: pointer!important; color: #333!important}		

/* Pagination */
	
	ul.pagination li.page a {background: url(./images/bg_btns.png) repeat-x top; color: #fff; border: 1px solid #1B9CAF}
		ul.pagination li.page a:hover {background: url(./images/bg_btns.png) 0 -30px;}